.modal{
    background-color: rgb(178, 178, 178);
    height: auto;
    width: 50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #282c34;
    padding: 1rem;
    
}

.clickables{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkbox-group{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn-group{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.btn-group button{
    height: 25px;
    border-style: none;
    border-radius: 8px;
}


